* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
//滑鼠游標點擊check與trash icon時不產生任何動作
i {
  pointer-events: none;
}
//背景漸層效果linear-gradient
body {
  background: linear-gradient(90deg, rgb(84, 130, 255), rgb(100, 255, 134));

  header {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
      color: white;
      font-size: 3rem;
    }
  }

  form {
    display: flex;
    justify-content: center;
    align-items: center;

    input,
    button {
      border: none;
      padding: 0.25rem 0.5rem;
      font-size: 1.75rem;
      margin: 0.1rem;
    }

    input[type="number"] {
      width: 50px;
      text-align: center;
    }
    // 去除input的預設箭頭
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type="number"] {
      -moz-appearance: textfield;
    }

    button {
      cursor: pointer;
      background-color: rgb(0, 146, 144);
      color: white;
    }
  }

  section {
    display: flex;
    align-items: center;
    flex-direction: column;

    div.todo {
      display: flex;
      width: 30vw;
      margin: 0.25rem;
      align-items: center;
      transition: all 0.5s ease;
    }

    p {
      color: black;
      background-color: white;
      font-size: 1.75rem;
      padding: 0.25rem 0.5rem;
    }
    p.todo-text {
      width: 50%;
    }
    p.todo-time {
      width: 20%;
      text-align: center;
    }
    button {
      font-size: 1.75rem;
      padding: 0.25rem 0.5rem;
      color: white;
      border: none;
      cursor: pointer;
    }
    button.check {
      background-color: rgb(53, 235, 53);
    }
    button.trash {
      background-color: red;
    }
  }

  div.sort {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
    button {
      font-size: 1.75rem;
      padding: 0.25rem 0.5rem;
      color: white;
      border: none;
      cursor: pointer;
      background-color: rgb(0, 146, 144);
    }
  }
}

.done {
  opacity: 0.5;
  text-decoration: line-through;
  text-decoration-thickness: 0.2rem;
}

@keyframes scaleUp {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes scaleDown {
  to {
    transform: scale(0);
  }
}
